[Unit]
Description=Headless Aggressor
Requires=cobaltstrike
After=cobaltstrike

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=always
ExecStart=/root/aggressor/start-aggressor.sh

[Install]
WantedBy=multi-user.target